body header nav {
    background-color: #00ff2fd6;
    color: rgb(255, 255, 255);
    height: 50px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    
    
}
body footer {
    background-color: rgb(232, 60, 60);
    color: rgb(255, 255, 255); 
    vertical-align: middle;
    height: 50px;
    display: flex;
    justify-content: center;
}

.centerp {
    text-align: center;
    
}

.centera {
    display: flex;
    justify-content: center;
    align-items: center;
}

a:visited {
    color: rgb(255, 0, 0)
}


h1 {
    color: green;
}

h3 {
    color: greenyellow;
}

tbody tr:nth-child(even) {
    background-color: lightgrey;
  }
  

.five-by-three-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);

  }
  
  .grid-item {
    grid-column-start: 1;
    grid-row-start: 1;
    
  }

  .grid-item1 {
    grid-column-start: 1;
  }

  .grid-item2 {
    grid-column-start: 2;
  }
  .grid-item3 {
    grid-column-start: 3;
  }
  .grid-item4 {
    grid-column-start: 4;
  }
  .grid-item5 {
    grid-column-start: 1;
    grid-row-start:3
  }
  .space {
    grid-gap: 50px;
  }